body {
  background:#0f172a;
  color:white;
  font-family:Arial;
  padding:40px;
}

table {
  width:100%;
  background:#1e293b;
  border-radius:10px;
  animation: slide 0.8s;
}

th, td {
  padding:12px;
  border-bottom:1px solid #334155;
}

@keyframes slide {
  from {opacity:0; transform:translateY(20px);}
  to {opacity:1;}
}
