body {
  background: linear-gradient(120deg, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  animation: slide 0.6s ease;
}

@keyframes slide {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

input, textarea, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

button {
  background: #4facfe;
  border: none;
  color: white;
  cursor: pointer;
}

.success {
  color: green;
  margin-top: 10px;
}
