body {
  background: linear-gradient(135deg, #141e30, #243b55);
  font-family: Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card {
  background:#1e1e2f;
  padding:30px;
  border-radius:12px;
  width:320px;
  color:white;
  animation: fade 0.8s;
}

input, textarea {
  width:100%;
  margin:10px 0;
  padding:10px;
  border-radius:6px;
  border:none;
}

button {
  width:100%;
  background:#00c6ff;
  border:none;
  padding:12px;
  border-radius:6px;
  color:black;
  font-weight:bold;
  cursor:pointer;
}

@keyframes fade {
  from {opacity:0; transform:scale(0.9);}
  to {opacity:1;}
}
